@import "tailwindcss";
@import "dither-plugin";

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/sans/Pretendard-Regular.woff2") format("woff2"),
       url("/fonts/sans/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/sans/Pretendard-Medium.woff2") format("woff2"),
       url("/fonts/sans/Pretendard-Medium.woff") format("woff");
}


@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/sans/Pretendard-SemiBold.woff2") format("woff2"),
       url("/fonts/sans/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Favorit Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/mono/ABCFavoritMonoEdu-Regular.woff2") format("woff2"),
       url("/fonts/mono/ABCFavoritMonoEdu-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Favorit Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/mono/ABCFavoritMonoEdu-Medium.woff2") format("woff2"),
       url("/fonts/mono/ABCFavoritMonoEdu-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Favorit Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/mono/ABCFavoritMonoEdu-Bold.woff2") format("woff2"),
       url("/fonts/mono/ABCFavoritMonoEdu-Bold.woff") format("woff");
}

@theme {
  --font-sans: "Pretendard", system-ui, sans-serif;
  --font-mono: "Favorit Mono", system-ui, monospace;
}

body {
  @apply antialiased bg-white dark:bg-black dark:text-white;
}

h1, h2, h3, h4, h5, h6 {
  @apply -tracking-[0.0075em];
}

p, a {
  @apply text-[15px];
}
